.postitus1 img {
    height: auto;
    width: 450px;
}

.logod1 img {
    height: auto;
    width: 50px;
}

.postitus1 {
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
    width: 32%;
}

.postitus2 img {
    height: auto;
    width: 450px;
}

.logod2 img {
    height: auto;
    width: 50px;
}

.postitus2 {
    font-size: 18px;
    display: inline-block;
    width: 32%;
}

.postitus3 img {
    height: auto;
    width: 450px;
}

.logod3 img {
    height: auto;
    width: 50px;
}

.postitus3 {
    font-size: 18px;
    display: inline-block;
    width: 32%;
}
